@model GameStore.Models.Jogo
@{
    ViewBag.Title = "Index";
}

<form action="~/Jogo/listar" method="post">
    <fieldset>

        <legend> Cadastro de Jogos </legend>

    </fieldset>

    <div>
        <label for="JogCod"> Código do jogo </label>
    </div>

    <div>
        <input type="number" value="@Model.JogCod" name="JogCod" />
    </div>

    <div>
        <label for="JogNome">Nome</label>
    </div>

    <div>
        <input type="text" value="@Model.JogNome" name="JogNome" />
    </div>

    <div>
        <label for="JogVersao">Versão</label>
    </div>

    <div>
        <input type="text" value="@Model.JogVersao" name="JogVersao" />
    </div>

    <div>
        <label for="JogDev">Desenvolvedor</label>
    </div>

    <div>
        <input type="text" value="@Model.JogDev" name="JogDev" />
    </div>

    <div>
        <label for="JogGen">Geração</label>
    </div>

    <div>
        <input type="text" value="@Model.JogGen" name="JogGen" />
    </div>

    <div>
        <label for="JogFE">Faixa Etária</label>
    </div>

    <div>
        <input type="text" value="@Model.JogFE" name="JogFE" />
    </div>

    <div>
        <label for="JogPlat">Plataforma</label>
    </div>

    <div>
        <input type="text" value="@Model.JogPlat" name="JogPlat" />
    </div>

    <div>
        <label for="JogAno">Ano lançado</label>
    </div>

    <div>
        <input type="text" value="@Model.JogAno" name="JogAno" />
    </div>

    <div>
        <label for="JogSinopse">Sinopse</label>
    </div>

    <div>
        <input type="text" value="@Model.JogSinopse" name="JogSinopse" />
    </div>

    <div>
        <br /> <input type="submit" value="Enviar" />
    </div>

</form>

