@model GameStore.Models.Jogo
@{
    ViewBag.Title = "Listar";
}


<div>
    <b> Código do Jogo </b>
</div>

<div>
    @Model.JogCod
</div>

<div>
    <b> Nome  </b>
</div>
<div>
    @Model.JogNome
</div>

<div>
    <b> Versão </b>
</div>

<div>
    @Model.JogVersao
</div>

<div>
    <b> Desenvolvedor </b>
</div>

<div>
    @Model.JogDev
</div>

<div>
    <b> Geração do jogo </b>
</div>

<div>
    @Model.JogGen
</div>

<div>
    <b> Faixa Etária </b>
</div>

<div>
    @Model.JogFE
</div>

<div>
    <b> Plataforma </b>
</div>

<div>
    @Model.JogPlat
</div>

<div>
    <b> Ano </b>
</div>

<div>
    @Model.JogAno
</div>

<div>
    <b> Sinopse </b>
</div>

<div>
    @Model.JogSinopse
</div>

<br />
@Html.ActionLink("Voltar", "index", "Home")