@model GameStore.Models.Funcionario
@{
    ViewBag.Title = "Index";
}


<form action="~/funcionario/listar" method="post">
    <fieldset>

        <legend> Cadastro de funcionários </legend>

    </fieldset>

    <div>
        <label for="FuncCod"> Código do funcionário </label>
    </div>

    <div>
        <input type="number" value="@Model.FuncCod" name="FuncCod" />
    </div>

    <div>
        <label for="FuncNome">Nome</label>
    </div>

    <div>
        <input type="text" value="@Model.FuncNome" name="FuncNome" />
    </div>

    <div>
        <label for="FuncCPF">CPF</label>
    </div>

    <div>
        <input type="text" value="@Model.FuncCPF" name="FuncCPF" />
    </div>

    <div>
        <label for="FuncRG">RG</label>
    </div>

    <div>
        <input type="number" value="@Model.FuncRG" name="FuncRG" />
    </div>

    <div>
        <label for="FuncDTN">Data de nascimento</label>
    </div>

    <div>
        <input type="text" value="@Model.FuncDTN" name="FuncDTN" />
    </div>

    <div>
        <label for="FuncEndereco">Endereço</label>
    </div>

    <div>
        <input type="text" value="@Model.FuncEndereco" name="FuncEndereco" />
    </div>

    <div>
        <label for="FuncCelular">Celular</label>
    </div>

    <div>
        <input type="text" value="@Model.FuncCelular" name="FuncCelular" />
    </div>

    <div>
        <label for="FuncEmail">Email</label>
    </div>

    <div>
        <input type="text" value="@Model.FuncEmail" name="FuncEmail" />
    </div>

    <div>
        <label for="FuncCargo">Cargo</label>
    </div>

    <div>
        <input type="text" value="@Model.FuncCargo" name="FuncCargo" />
    </div>

    <div>
        <br /> <input type="submit" value="Enviar" />
    </div>

</form>
